<!doctype html>
<html class="" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
  </head>
  <body class="avenir">
    <nav class="db dt-l w-100 border-box pa3 ph5-l">
      <a class="db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l" href="#" title="Home">
	<img src="logo.svg" class="dib w3 h3 br-100" alt="Deep Learning">
      </a>
      <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
	<a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="#" title="Learn">Learn</a>
	<a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="#" title="Apply">Apply</a>
	<a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="#" title="Discuss">Discuss</a>
      </div>
    </nav>
    <article class="cf pa3 mw9 center">
      <header class="fl w-100 w-50-l pa3-m pa4-l mb3 mb5-l">
	<h2 class="lh-title f3 b mt0">
	  Deep learning methods have dramatically improved the state-of-the-art in speech recognition, visual object recognition, object detection and many other domains such as drug discovery and genomics.
	</h2>
      </header>
      <section class="fl w-100">
	<div class="fl w-100 w-50-m w-25-l pa3-m pa4-l">
	  <p class="f6 lh-copy measure">
            Perfect typography depends on perfect harmony between all of its elements. 
            Harmony is determined by relationships
            or proportions. Proportions are hidden everywhere. words themselves. 
	  </p>
	</div>
	<div class="fl w-100 w-50-m w-25-l pa3-m pa4-l">
	  <p class="f6 lh-copy measure">
            True book design, therefore, is a matter of tact (tempo, rhythm,
            touch) alone. It flows from something rarely appreciated today:
            good taste. The book designer strives for perfection; yet every
            perfect thing lives somewhere in the neighborhood of dullness and
            is frequently mistaken for it by the insensitive. In a time that
            hungers for tangible novelties, dull perfection holds no
            advertising value at all. 
	  </p>
	</div>
	<div class="fl w-100 w-50-m w-25-l pa3-m pa4-l">
	  <p class="f6 lh-copy measure">
            In a masterpiece of typography, the artist's signature has been
            eliminated. What some may praise as personal styles are in reality
            small and empty peculiarities, frequently damaging, that masquerade
            as innovations. 
	  </p>
	</div>
	<div class="fl w-100 w-50-m w-25-l pa3-m pa4-l">
	  <p class="f6 lh-copy measure">
            Only through constant practice and strictest self-criticism may we
            develop a sense for a perfect piece of work. Unfortunately, most
            seem content with a middling performance. Careful spacing of words
            and the correct spacing of capital letters appear to be unknown or
            unimportant to some typesetters, yet for him who investigates, the
            correct rules are not difficult to discover.
	  </p>
	</div>
      </section>
      <section class="fl w-100">
	<div class="fl w-100 w-50-m w-25-l pv3 pa3-m pa4-l">
	  <div class="aspect-ratio aspect-ratio--3x4">
            <span style="background-image:url(http://mrmrs.github.io/images/0008.jpg);" class="cover bg-center aspect-ratio--object"></span>
	  </div>
	</div>
	<div class="fl w-100 w-50-m w-25-l pv3 pa3-m pa4-l">
	  <div class="aspect-ratio aspect-ratio--3x4">
            <span style="background-image:url(http://mrmrs.github.io/images/0012.jpg);" class="cover bg-center aspect-ratio--object"></span>
	  </div>
	</div>
	<div class="fl w-100 w-50-m w-25-l pv3 pa3-m pa4-l">
	  <div class="aspect-ratio aspect-ratio--3x4">
            <span style="background-image:url(http://mrmrs.github.io/images/0045.jpg);" class="cover bg-center aspect-ratio--object"></span>
	  </div>
	</div>
	<div class="fl w-100 w-50-m w-25-l pv3 pa3-m pa4-l">
	  <div class="aspect-ratio aspect-ratio--3x4">
            <span style="background-image:url(http://mrmrs.github.io/images/0051.jpg);" class="cover bg-center aspect-ratio--object"></span>
	  </div>
	</div>
	<div class="fl w-100 w-50-m w-25-l pv3 pa3-m pa4-l">
	  <div class="aspect-ratio aspect-ratio--3x4">
            <span style="background-image:url(http://mrmrs.github.io/images/0018.jpg);" class="cover bg-center aspect-ratio--object"></span>
	  </div>
	</div>
	<div class="fl w-100 w-50-m w-25-l pv3 pa3-m pa4-l">
	  <div class="aspect-ratio aspect-ratio--3x4">
            <span style="background-image:url(http://mrmrs.github.io/images/0019.jpg);" class="cover bg-center aspect-ratio--object"></span>
	  </div>
	</div>
	<div class="fl w-100 w-50-m w-25-l pv3 pa3-m pa4-l">
	  <div class="aspect-ratio aspect-ratio--3x4">
            <span style="background-image:url(http://mrmrs.github.io/images/0038.jpg);" class="cover bg-center aspect-ratio--object"></span>
	  </div>
	</div>
	<div class="fl w-100 w-50-m w-25-l pv3 pa3-m pa4-l">
	  <div class="aspect-ratio aspect-ratio--3x4">
            <span style="background-image:url(http://mrmrs.github.io/images/0011.jpg);" class="cover bg-center aspect-ratio--object"></span>
	  </div>
	</div>
	<div class="fl w-100 w-50-m w-25-l pv3 pa3-m pa4-l">
	  <div class="aspect-ratio aspect-ratio--3x4">
            <span style="background-image:url(http://mrmrs.github.io/images/0004.jpg);" class="cover bg-center aspect-ratio--object"></span>
	  </div>
	</div>
	<div class="fl w-100 w-50-m w-25-l pv3 pa3-m pa4-l">
	  <div class="aspect-ratio aspect-ratio--3x4">
            <span style="background-image:url(http://mrmrs.github.io/images/0002.jpg);" class="cover bg-center aspect-ratio--object"></span>
	  </div>
	</div>
	<div class="fl w-100 w-50-m w-25-l pv3 pa3-m pa4-l">
	  <div class="aspect-ratio aspect-ratio--3x4">
            <span style="background-image:url(http://mrmrs.github.io/images/0020.jpg);" class="cover bg-center aspect-ratio--object"></span>
	  </div>
	</div>
	<div class="fl w-100 w-50-m w-25-l pv3 pa3-m pa4-l">
	  <div class="aspect-ratio aspect-ratio--3x4">
            <span style="background-image:url(http://mrmrs.github.io/images/0013.jpg);" class="cover bg-center aspect-ratio--object"></span>
	  </div>
	</div>
      </section>
    </article>
  </body>
</html>
