<!DOCTYPE html>
<html lang="en">
  <head>
    <title> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    <style>
    </style>

  </head>

  <body class="w-100 sans-serif bg-white black-80 helvetica dark-gray bg-washed-yellow">
    <nav class="pa3 pa4-ns">
  <a class="link dim black b f6 f5-ns dib mr3" href="#" title="Home">Deep learning</a>
  <a class="link dim gray    f6 f5-ns dib mr3" href="#" title="Home">Applications</a>
  <a class="link dim gray    f6 f5-ns dib mr3" href="#" title="About">Learn</a>
  <a class="link dim gray    f6 f5-ns dib" href="#" title="Contact">Discuss</a>
    </nav>

    <div class="mw9 center ph3-ns">
  <div class="cf ph2-ns">
    <div class="fl w-100 w-50-ns pa2">
      <div class="outline bg-washed-yellow pv4"></div>
    </div>
    <div class="fl w-100 w-50-ns pa2">
      <div class="outline bg-washed-yellow pv4"></div>
    </div>
  </div>
</div>

<main class="cf pa3 mw9 center">
  <section class="fl w-100">
    <div class="fl w-100 pa3-m pa4-l">
      <div class="pa4">
  <blockquote class="athelas ml0 mt0 pl4 black-90 bl bw2 b--blue">
    <p class="f5 f4-m f3-l lh-copy measure mt0">
	      Deep learning allows computational models that are composed of multiple processing layers to learn representations of data with multiple levels of abstraction. These methods have dramatically improved the state-of-the-art in speech recognition, visual object recognition, object detection and many other domains such as drug discovery and genomics.
    </p>
    <cite class="f6 ttu tracked fs-normal">―Stanley Morison</cite>
  </blockquote>
</div>
      <p class="f6 lh-copy measure">

      </p>
    </div>
    <div class="fl w-100 w-50-m w-25-l pa3-m pa4-l">
      <p class="f6 lh-copy measure">
        True book design, therefore, is a matter of tact (tempo, rhythm,
        touch) alone. It flows from something rarely appreciated today:
        good taste. The book designer strives for perfection; yet every
        perfect thing lives somewhere in the neighborhood of dullness and
        is frequently mistaken for it by the insensitive. In a time that
        hungers for tangible novelties, dull perfection holds no
        advertising value at all. 
      </p>
    </div>
    <div class="fl w-100 w-50-m w-25-l pa3-m pa4-l">
      <p class="f6 lh-copy measure">
        In a masterpiece of typography, the artist's signature has been
        eliminated. What some may praise as personal styles are in reality
        small and empty peculiarities, frequently damaging, that masquerade
        as innovations. 
      </p>
    </div>
    <div class="fl w-100 w-50-m w-25-l pa3-m pa4-l">
      <p class="f6 lh-copy measure">
        Only through constant practice and strictest self-criticism may we
        develop a sense for a perfect piece of work. Unfortunately, most
        seem content with a middling performance. Careful spacing of words
        and the correct spacing of capital letters appear to be unknown or
        unimportant to some typesetters, yet for him who investigates, the
        correct rules are not difficult to discover.
      </p>
    </div>
  </section>
  <section class="fl w-100">
    <div class="fl w-100 w-50-m w-25-l pv3 pa3-m pa4-l">
      <div class="aspect-ratio aspect-ratio--3x4">
        <span style="background-image:url(http://mrmrs.github.io/images/0008.jpg);" class="cover bg-center aspect-ratio--object"></span>
      </div>
    </div>
    <div class="fl w-100 w-50-m w-25-l pv3 pa3-m pa4-l">
      <div class="aspect-ratio aspect-ratio--3x4">
        <span style="background-image:url(http://mrmrs.github.io/images/0012.jpg);" class="cover bg-center aspect-ratio--object"></span>
      </div>
    </div>
    <div class="fl w-100 w-50-m w-25-l pv3 pa3-m pa4-l">
      <div class="aspect-ratio aspect-ratio--3x4">
        <span style="background-image:url(http://mrmrs.github.io/images/0045.jpg);" class="cover bg-center aspect-ratio--object"></span>
      </div>
    </div>
    <div class="fl w-100 w-50-m w-25-l pv3 pa3-m pa4-l">
      <div class="aspect-ratio aspect-ratio--3x4">
        <span style="background-image:url(http://mrmrs.github.io/images/0051.jpg);" class="cover bg-center aspect-ratio--object"></span>
      </div>
    </div>
    <div class="fl w-100 w-50-m w-25-l pv3 pa3-m pa4-l">
      <div class="aspect-ratio aspect-ratio--3x4">
        <span style="background-image:url(http://mrmrs.github.io/images/0018.jpg);" class="cover bg-center aspect-ratio--object"></span>
      </div>
    </div>
    <div class="fl w-100 w-50-m w-25-l pv3 pa3-m pa4-l">
      <div class="aspect-ratio aspect-ratio--3x4">
        <span style="background-image:url(http://mrmrs.github.io/images/0019.jpg);" class="cover bg-center aspect-ratio--object"></span>
      </div>
    </div>
    <div class="fl w-100 w-50-m w-25-l pv3 pa3-m pa4-l">
      <div class="aspect-ratio aspect-ratio--3x4">
        <span style="background-image:url(http://mrmrs.github.io/images/0038.jpg);" class="cover bg-center aspect-ratio--object"></span>
      </div>
    </div>
    <div class="fl w-100 w-50-m w-25-l pv3 pa3-m pa4-l">
      <div class="aspect-ratio aspect-ratio--3x4">
        <span style="background-image:url(http://mrmrs.github.io/images/0011.jpg);" class="cover bg-center aspect-ratio--object"></span>
      </div>
    </div>
    <div class="fl w-100 w-50-m w-25-l pv3 pa3-m pa4-l">
      <div class="aspect-ratio aspect-ratio--3x4">
        <span style="background-image:url(http://mrmrs.github.io/images/0004.jpg);" class="cover bg-center aspect-ratio--object"></span>
      </div>
    </div>
    <div class="fl w-100 w-50-m w-25-l pv3 pa3-m pa4-l">
      <div class="aspect-ratio aspect-ratio--3x4">
        <span style="background-image:url(http://mrmrs.github.io/images/0002.jpg);" class="cover bg-center aspect-ratio--object"></span>
      </div>
    </div>
    <div class="fl w-100 w-50-m w-25-l pv3 pa3-m pa4-l">
      <div class="aspect-ratio aspect-ratio--3x4">
        <span style="background-image:url(http://mrmrs.github.io/images/0020.jpg);" class="cover bg-center aspect-ratio--object"></span>
      </div>
    </div>
    <div class="fl w-100 w-50-m w-25-l pv3 pa3-m pa4-l">
      <div class="aspect-ratio aspect-ratio--3x4">
        <span style="background-image:url(http://mrmrs.github.io/images/0013.jpg);" class="cover bg-center aspect-ratio--object"></span>
      </div>
    </div>
  </section>
   

</main> 
   

  </body>
</html>
